<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431171447478-qq5b2rj06jhccedbsg8ggtf88gb13vf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431171447478-qq5b2rj06jhccedbsg8ggtf88gb13vf3</string>
	<key>API_KEY</key>
	<string>AIzaSyBzqfLRfTUABqVMZmUFVpVJKPdrWYm_14A</string>
	<key>GCM_SENDER_ID</key>
	<string>431171447478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TruongDao.VieOnDemo</string>
	<key>PROJECT_ID</key>
	<string>demovieon</string>
	<key>STORAGE_BUCKET</key>
	<string>demovieon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431171447478:ios:9d6a1843d9d53d0c929417</string>
</dict>
</plist>